<a href="https://colab.research.google.com/github/Omarismail10/hello-world/blob/main/Copy_of_quiz1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# First Names

The first names of the students enrolled in DSCI1412 2 are stored in the `names` list below. (unrelated to the question, but the first names are simply ordered by the last names - not shown)

**Q1.** Write a Python program to count the occurrences of the first names in the class.

**Q2.** (**Bonus**) Write the code to find out which first name is the most common in the class?

In [1]:
names = ["Malak", "Omar", "Jana", "Aly", "Rawan", "Yousef", "Abdelrahman", "Sara", "Nour", "Kenzie", "Charbel", "Malak", "Shaymaa", "Lojane", "Khaled", "Amr", "Lina", "Kenzy", "Youssef", "Nadine", "Lorina", "Nour", "Farah", "Adham", "Nour", "Farah", "Abdulrahman", "Aly", "Jessie", "Zeina"]
names

['Malak',
 'Omar',
 'Jana',
 'Aly',
 'Rawan',
 'Yousef',
 'Abdelrahman',
 'Sara',
 'Nour',
 'Kenzie',
 'Charbel',
 'Malak',
 'Shaymaa',
 'Lojane',
 'Khaled',
 'Amr',
 'Lina',
 'Kenzy',
 'Youssef',
 'Nadine',
 'Lorina',
 'Nour',
 'Farah',
 'Adham',
 'Nour',
 'Farah',
 'Abdulrahman',
 'Aly',
 'Jessie',
 'Zeina']

In [ ]:
len(names)

30

In [2]:
names = ["Malak", "Omar", "Jana", "Aly", "Rawan", "Yousef", "Abdelrahman", "Sara", "Nour", "Kenzie", "Charbel", "Malak", "Shaymaa", "Lojane", "Khaled", "Amr", "Lina", "Kenzy", "Youssef", "Nadine", "Lorina", "Nour", "Farah", "Adham", "Nour", "Farah", "Abdulrahman", "Aly", "Jessie", "Zeina"]

counts = {}

for name in names:
   
    first_name = name.split()[0]
    
    if first_name in counts:
        counts[first_name] += 1
    else:  
        counts[first_name] = 1
for name, count in counts.items():
    print(f'{name}: {count}')

Malak: 2
Omar: 1
Jana: 1
Aly: 2
Rawan: 1
Yousef: 1
Abdelrahman: 1
Sara: 1
Nour: 3
Kenzie: 1
Charbel: 1
Shaymaa: 1
Lojane: 1
Khaled: 1
Amr: 1
Lina: 1
Kenzy: 1
Youssef: 1
Nadine: 1
Lorina: 1
Farah: 2
Adham: 1
Abdulrahman: 1
Jessie: 1
Zeina: 1

In [3]:


first_name_count = {}
for name in names:
    
    first_name = name.split()[0]

    if first_name in first_name_count:
        first_name_count[first_name] += 1
    else:
        first_name_count[first_name] = 1

most_common_first_name = max(first_name_count, key=first_name_count.get)

print("The most common first name is:", most_common_first_name)

The most common first name is: Nour